<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringProject:war exploded">
    <output-path>$PROJECT_DIR$/target/maven-archetype-webapp-1.0</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringProject" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringProject/web/Web" />
    </root>
  </artifact>
</component>